In [6]:
#import libraries
import pandas as pd
import numpy as np
import os

In [7]:
#Import data
df_orig=pd.read_csv(r'C:\Users\chloe\Documents\05.2023 project\02 Data\Original data\WorldAQI.csv', index_col = False)

In [8]:
#check
df_orig.head(5)

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category,lat,lng
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate,44.7444,44.2031
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-5.2900,-44.4900
2,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good,-11.2958,-41.9869
3,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate,37.1667,15.1833
4,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good,53.0167,20.8833

In [9]:
#conducting some basic data profiling to check the data meets requirements of the brief:
#1.columns and rows
df_orig.shape

(16695, 14)

In [10]:
#overview of the data
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16695 entries, 0 to 16694
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             16393 non-null  object
 1   City                16695 non-null  object
 2   AQI Value           16695 non-null  int64
 3   AQI Category        16695 non-null  object
 4   CO AQI Value        16695 non-null  int64
 5   CO AQI Category     16695 non-null  object
 6   Ozone AQI Value     16695 non-null  int64
 7   Ozone AQI Category  16695 non-null  object
 8   NO2 AQI Value       16695 non-null  int64
 9   NO2 AQI Category    16695 non-null  object
 10  PM2.5 AQI Value     16695 non-null  int64
 11  PM2.5 AQI Category  16695 non-null  object
 12  lat                 16695 non-null  float64
 13  lng                 16695 non-null  float64
dtypes: float64(2), int64(5), object(7)
memory usage: 1.8+ MB

##Data cleaning

#dropping unnecessary columns in an adjusted database, keeping the original: 1. Format_name (same entry for all rows, adds nothing to the data), 
df_adj=df_orig.drop(columns=['Order','Parent Property Id','Parent Property Name','Street Number','Street Name','List of All Property Use Types at Property','3rd Largest Property Use Type','3rd Largest Property Use Type - Gross Floor Area (ftÂ²)','District Steam Use (kBtu)'])

#check
df_adj.shape

In [12]:
##removing columns with 80% or over of items missing:
df_orij=df_orig.dropna(axis=1, thresh=int(0.8*len(df_orig)))

In [14]:
df_orig.shape

(16695, 14)

In [15]:
##removing rows with 80% or over of data
# Keep only the rows with at least 12 non-NA values.
df_orig = df_orig.dropna(thresh=12)
df_orig.shape

(16695, 14)

In [17]:
#check 
df_orig.describe

<bound method NDFrame.describe of                         Country              City  AQI Value AQI Category  \
0            Russian Federation        Praskoveya         51     Moderate
1                        Brazil  Presidente Dutra         41         Good
2                        Brazil  Presidente Dutra         41         Good
3                         Italy   Priolo Gargallo         66     Moderate
4                        Poland         Przasnysz         34         Good
...                         ...               ...        ...          ...
16690  United States of America  Highland Springs         54     Moderate
16691                  Slovakia            Martin         71     Moderate
16692                  Slovakia            Martin         71     Moderate
16693                    France            Sceaux         50         Good
16694  United States of America       Westerville         71     Moderate

       CO AQI Value CO AQI Category  Ozone AQI Value Ozone AQI Category  \
0                 1            Good               36               Good
1                 1            Good                5               Good
2                 1            Good                5               Good
3                 1            Good               39               Good
4                 1            Good               34               Good
...             ...             ...              ...                ...
16690             1            Good               34               Good
16691             1            Good               39               Good
16692             1            Good               39               Good
16693             1            Good               20               Good
16694             1            Good               44               Good

       NO2 AQI Value NO2 AQI Category  PM2.5 AQI Value PM2.5 AQI Category  \
0                  0             Good               51           Moderate
1                  1             Good               41               Good
2                  1             Good               41               Good
3                  2             Good               66           Moderate
4                  0             Good               20               Good
...              ...              ...              ...                ...
16690              5             Good               54           Moderate
16691              1             Good               71           Moderate
16692              1             Good               71           Moderate
16693              5             Good               50               Good
16694              2             Good               71           Moderate

           lat      lng
0      44.7444  44.2031
1      -5.2900 -44.4900
2     -11.2958 -41.9869
3      37.1667  15.1833
4      53.0167  20.8833
...        ...      ...
16690  37.5516 -77.3285
16691  49.0650  18.9219
16692  36.3385 -88.8513
16693  48.7786   2.2906
16694  40.1241 -82.9210

[16695 rows x 14 columns]>

Both Russia and the US have 'moderate' air quality

In [18]:
#how to find and fix missing values#
df_orig.isnull().sum()

Country               302
City                    0
AQI Value               0
AQI Category            0
CO AQI Value            0
CO AQI Category         0
Ozone AQI Value         0
Ozone AQI Category      0
NO2 AQI Value           0
NO2 AQI Category        0
PM2.5 AQI Value         0
PM2.5 AQI Category      0
lat                     0
lng                     0
dtype: int64

##it is time consuming but possible to add this data at a later point, so leave as is for now.

In [19]:
#how many missing values are there in a given column: df['variable'].value_counts(dropna = False)
df_orig['PM2.5 AQI Category'].value_counts(dropna=False)

Good                              7936
Moderate                          6882
Unhealthy for Sensitive Groups     881
Unhealthy                          828
Very Unhealthy                     115
Hazardous                           53
Name: PM2.5 AQI Category, dtype: int64

#most countries or cities have good air quality, with very few categorised as unhealthy or hazardous.

In [25]:
#removing missing data
df_orig=df_orig.dropna()
df_orig.shape

(16393, 14)

In [24]:
#Searching for duplicates 
df_dups = df_orig[df_orig.duplicated()]
df_dups

Empty DataFrame
Columns: [Country, City, AQI Value, AQI Category, CO AQI Value, CO AQI Category, Ozone AQI Value, Ozone AQI Category, NO2 AQI Value, NO2 AQI Category, PM2.5 AQI Value, PM2.5 AQI Category, lat, lng]
Index: []

no duplicates found.

In [26]:
#save the clean data
df_orig.to_csv('C:/Users/chloe/Documents/05.2023 project/02 Data/Prepared data/WorldAQI_Clean.csv')

####Data consistency checks

#data is clean and comprehensive. categorical comparisons of countries and cities within countries will be possile, as well as an identification of which types of pollutants are the most hazardous.

In [ ]:
df_adj_clean.median()

In [ ]:
##IF NEEDED: df_ords_clean = df_ords['days_since_prior_order'].fillna(7.0, inplace=True)
#REPEAT AS NEEDED

In [ ]:
df_adj_clean.head(5))

In [ ]:
##any commentary to be made on the data here