In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Import data
df_orig=pd.read_csv(r'C:\Users\chloe\Documents\05.2023 project\02 Data\Original data\NYC_Energy_Water_Data.csv', index_col = False)

C:\Users\Chloe\AppData\Local\Temp\ipykernel_6184\464910079.py:2: DtypeWarning: Columns (4,10,12,14,15,19,20,21,22,23,24,25,26,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df_orig=pd.read_csv(r'C:\Users\chloe\Documents\05.2023 project\02 Data\Original data\NYC_Energy_Water_Data.csv', index_col = False)

In [3]:
#check
df_orig.head(5)

,Order,Property Name,Parent Property Id,Parent Property Name,Street Number,Street Name,Borough,Primary Property Type - Self Selected,List of All Property Use Types at Property,Largest Property Use Type,...,District Steam Use (kBtu),Natural Gas Use (kBtu),Weather Normalized Site Natural Gas Use (therms),Electricity Use - Grid Purchase (kBtu),Weather Normalized Site Electricity (kWh),Total GHG Emissions (Metric Tons CO2e),Direct GHG Emissions (Metric Tons CO2e),Indirect GHG Emissions (Metric Tons CO2e),Water Use (All Water Sources) (kgal),DOF Benchmarking Submission Status
0,1,The Argonaut Building,NaN,NaN,Not found,Not found,Manhattan,Office,"Bank Branch, Office",Office,...,1133475.1,1435754.7,16672.2,6551394.1,1920103.6,732.4,76.3,656.1,3635.5,Not found
1,3,Cathedral Preparatory Seminary,NaN,NaN,Not found,Not found,Queens,K-12 School,K-12 School,K-12 School,...,NaN,2068300.1,23243.7,616343.7,184131.9,164.5,109.9,54.6,102.9,Not found
2,4,The Nomad Hotel,NaN,NaN,Not found,Not found,Manhattan,Hotel,Hotel,Hotel,...,NaN,8245445.1,86776.9,8033914.4,2354605.3,1150.2,438.0,712.3,10762.6,Not found
3,5,10 West 27 Street Corp,NaN,NaN,Not found,Not found,Manhattan,Hotel,Hotel,Hotel,...,NaN,1848519.4,20520.9,1976691.9,582516.1,273.4,98.2,175.3,790.1,Not found
4,6,Westbury Realty,NaN,NaN,Not found,Not found,Manhattan,Hotel,Hotel,Hotel,...,NaN,NaN,NaN,1022951.6,299809.9,90.7,0.0,90.7,143.0,Not found

In [4]:
#conducting some basic data profiling to check the data meets requirements of the brief:
#1.columns and rows
df_orig.shape

(59324, 41)

In [5]:
#overview of the data
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59324 entries, 0 to 59323
Data columns (total 41 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Order                                                       59324 non-null  int64
 1   Property Name                                               57632 non-null  object
 2   Parent Property Id                                          25000 non-null  object
 3   Parent Property Name                                        25000 non-null  object
 4   Street Number                                               56357 non-null  object
 5   Street Name                                                 59202 non-null  object
 6   Borough                                                     59206 non-null  object
 7   Primary Property Type - Self Selected                       58079 non-null  object
 8   List of All Property Use Types at Property                  58066 non-null  object
 9   Largest Property Use Type                                   58047 non-null  object
 10  Largest Property Use Type - Gross Floor Area (ft²)          57596 non-null  object
 11  2nd Largest Property Use Type                               30950 non-null  object
 12  2nd Largest Property Use - Gross Floor Area (ft²)           30950 non-null  object
 13  3rd Largest Property Use Type                               26174 non-null  object
 14  3rd Largest Property Use Type - Gross Floor Area (ft²)      26174 non-null  object
 15  Year Built                                                  58079 non-null  object
 16  Occupancy                                                   57632 non-null  float64
 17  Metered Areas (Energy)                                      55434 non-null  object
 18  Metered Areas  (Water)                                      38270 non-null  object
 19  ENERGY STAR Score                                           46735 non-null  object
 20  Source EUI (kBtu/ft²)                                       55073 non-null  object
 21  Weather Normalized Source EUI (kBtu/ft²)                    50154 non-null  object
 22  Site EUI (kBtu/ft²)                                         55073 non-null  object
 23  Weather Normalized Site EUI (kBtu/ft²)                      50154 non-null  object
 24  Weather Normalized Site Electricity Intensity (kWh/ft²)     53842 non-null  object
 25  Weather Normalized Site Natural Gas Intensity (therms/ft²)  49251 non-null  object
 26  Fuel Oil #1 Use (kBtu)                                      23760 non-null  object
 27  Fuel Oil #2 Use (kBtu)                                      29388 non-null  object
 28  Fuel Oil #4 Use (kBtu)                                      26102 non-null  object
 29  Fuel Oil #5 & 6 Use (kBtu)                                  24208 non-null  object
 30  Diesel #2 Use (kBtu)                                        23794 non-null  object
 31  District Steam Use (kBtu)                                   25292 non-null  object
 32  Natural Gas Use (kBtu)                                      49210 non-null  float64
 33  Weather Normalized Site Natural Gas Use (therms)            47296 non-null  float64
 34  Electricity Use - Grid Purchase (kBtu)                      54503 non-null  float64
 35  Weather Normalized Site Electricity (kWh)                   53070 non-null  float64
 36  Total GHG Emissions (Metric Tons CO2e)                      56107 non-null  float64
 37  Direct GHG Emissions (Metric Tons CO2e)                     56250 non-null  float64
 38  Indirect GHG Emissions (Metric Tons CO2e)                   56264 non-null  float64
 39  Water Use (All Water Sources) (kgal)                        33307 non-null  float64
 40  DOF Benchmarking Submission Status                          59294 non-null  object
dtypes: float64(9), int64(1), object(31)
memory usage: 18.6+ MB

##Data cleaning

In [6]:
#dropping unnecessary columns in an adjusted database, keeping the original: 1. Format_name (same entry for all rows, adds nothing to the data), 
df_adj=df_orig.drop(columns=['Order','Parent Property Id','Parent Property Name','Street Number','Street Name','List of All Property Use Types at Property','3rd Largest Property Use Type','3rd Largest Property Use Type - Gross Floor Area (ft²)','District Steam Use (kBtu)'])

#check
df_adj.shape

In [7]:
##removing columns with 80% or over of items missing:
df_adj=df_adj.dropna(axis=1, thresh=int(0.8*len(df_adj)))

In [8]:
df_adj.shape

(59324, 21)

In [9]:
##removing rows with 80% or over of data
# Keep only the rows with at least 17 non-NA values.
df_adj = df_adj.dropna(thresh=17)
df_adj.shape

(54136, 21)

In [10]:
#check 
df_adj.describe

<bound method NDFrame.describe of                                    Property Name        Borough  \
0                          The Argonaut Building      Manhattan
1                 Cathedral Preparatory Seminary         Queens
2                                The Nomad Hotel      Manhattan
3                         10 West 27 Street Corp      Manhattan
4                                Westbury Realty      Manhattan
...                                          ...            ...
58074                      St. Joseph by-the-Sea  Staten Island
58075  STATEN ISLAND UNIVERSITY HOSPITAL Seguine  Staten Island
58076                 N001597-S STATEN ISLAND NY  Staten Island
58077                     Amboy Plaza Realty LLC  Staten Island
58078        99 Ellis St Realty: 99 Ellis Street  Staten Island

       Primary Property Type - Self Selected  \
0                                     Office
1                                K-12 School
2                                      Hotel
3                                      Hotel
4                                      Hotel
...                                      ...
58074                            K-12 School
58075  Hospital (General Medical & Surgical)
58076                           Retail Store
58077              Supermarket/Grocery Store
58078                    Distribution Center

                   Largest Property Use Type  \
0                                     Office
1                                K-12 School
2                                      Hotel
3                                      Hotel
4                                      Hotel
...                                      ...
58074                            K-12 School
58075  Hospital (General Medical & Surgical)
58076                           Retail Store
58077              Supermarket/Grocery Store
58078                    Distribution Center

      Largest Property Use Type - Gross Floor Area (ft²) Year Built  \
0                                               164754.0       1909
1                                                94380.0       1963
2                                               125000.0       1999
3                                                50000.0       1994
4                                                50000.0       2012
...                                                  ...        ...
58074                                           184428.0       1963
58075                                           220240.0       1950
58076                                           116518.0       2012
58077                                            42064.0       1993
58078                                            51000.0       1984

       Occupancy Metered Areas (Energy) Source EUI (kBtu/ft²)  \
0           95.0         Whole Building                 138.4
1          100.0         Whole Building                  43.5
2           85.0         Whole Building                 271.1
3          100.0         Whole Building                 163.0
4            0.0         Whole Building                  64.2
...          ...                    ...                   ...
58074      100.0         Whole Building                  94.1
58075      100.0         Whole Building                 636.8
58076      100.0         Whole Building                 188.5
58077      100.0         Whole Building                 495.8
58078      100.0         Whole Building                 376.4

      Weather Normalized Source EUI (kBtu/ft²)  ...  \
0                                        141.0  ...
1                                         46.8  ...
2                                        274.7  ...
3                                        167.9  ...
4                                         64.2  ...
...                                        ...  ...
58074                                     95.3  ...
58075                                      NaN  ...
58076                                    185.7  ...
58077                                    493.9  ...
58078                                    377.8  ...

      Weather Normalized Site EUI (kBtu/ft²)  \
0                                       56.2
1                                       31.3
2                                      133.7
3                                       80.8
4                                       20.5
...                                      ...
58074                                   61.3
58075                                    NaN
58076                                   64.3
58077                                  175.7
58078                                  162.7

      Weather Normalized Site Electricity Intensity (kWh/ft²)  \
0                                                   11.3
1                                                    2.0
2                                                   18.8
3                                                   11.7
4                                                    6.0
...                                                  ...
58074                                                4.3
58075                                               26.7
58076                                               16.6
58077                                               43.4
58078                                               29.0

      Weather Normalized Site Natural Gas Intensity (therms/ft²)  \
0                                                    0.1
1                                                    0.2
2                                                    0.7
3                                                    0.4
4                                                    NaN
...                                                  ...
58074                                                0.5
58075                                                3.0
58076                                                0.1
58077                                                0.3
58078                                                0.6

      Natural Gas Use (kBtu)  Electricity Use - Grid Purchase (kBtu)  \
0                  1435754.7                               6551394.1
1                  2068300.1                                616343.7
2                  8245445.1                               8033914.4
3                  1848519.4                               1976691.9
4                        NaN                               1022951.6
...                      ...                                     ...
58074              8345200.1                               2734290.1
58075             66815614.2                              20082283.2
58076              1020290.0                               6655085.9
58077              1991000.0                              11183127.3
58078              3175200.1                               5050987.7

       Weather Normalized Site Electricity (kWh)  \
0                                      1920103.6
1                                       184131.9
2                                      2354605.3
3                                       582516.1
4                                       299809.9
...                                          ...
58074                                   801374.5
58075                                  5885779.8
58076                                  1931131.6
58077                                  3255872.5
58078                                  1480359.6

       Total GHG Emissions (Metric Tons CO2e)  \
0                                       732.4
1                                       164.5
2                                      1150.2
3                                       273.4
4                                        90.7
...                                       ...
58074                                   670.0
58075                                  5725.9
58076                                   606.1
58077                                  1033.2
58078                                   587.5

       Direct GHG Emissions (Metric Tons CO2e)  \
0                                         76.3
1                                        109.9
2                                        438.0
3                                         98.2
4                                          0.0
...                                        ...
58074                                    443.3
58075                                   4060.3
58076                                     54.2
58077                                    105.8
58078                                    168.7

       Indirect GHG Emissions (Metric Tons CO2e)  \
0                                          656.1
1                                           54.6
2                                          712.3
3                                          175.3
4                                           90.7
...                                          ...
58074                                      226.8
58075                                     1665.5
58076                                      551.9
58077                                      927.5
58078                                      418.9

       DOF Benchmarking Submission Status
0                               Not found
1                               Not found
2                               Not found
3                               Not found
4                               Not found
...                                   ...
58074                       In Compliance
58075                       In Compliance
58076                       In Compliance
58077                       In Compliance
58078                       In Compliance

[54136 rows x 21 columns]>

there is a huge amount of variety in emissions from properties in NY

In [11]:
#how to find and fix missing values#
df_adj.isnull().sum()

Property Name                                                    0
Borough                                                        116
Primary Property Type - Self Selected                            0
Largest Property Use Type                                        0
Largest Property Use Type - Gross Floor Area (ft²)               0
Year Built                                                       0
Occupancy                                                        0
Metered Areas (Energy)                                        1902
Source EUI (kBtu/ft²)                                           13
Weather Normalized Source EUI (kBtu/ft²)                      4138
Site EUI (kBtu/ft²)                                             13
Weather Normalized Site EUI (kBtu/ft²)                        4138
Weather Normalized Site Electricity Intensity (kWh/ft²)        676
Weather Normalized Site Natural Gas Intensity (therms/ft²)    5271
Natural Gas Use (kBtu)                                        5726
Electricity Use - Grid Purchase (kBtu)                         509
Weather Normalized Site Electricity (kWh)                     1408
Total GHG Emissions (Metric Tons CO2e)                          32
Direct GHG Emissions (Metric Tons CO2e)                         41
Indirect GHG Emissions (Metric Tons CO2e)                       16
DOF Benchmarking Submission Status                              30
dtype: int64

In [30]:
##since it is not easy to input this missing data, create a subset of the database without these values:
#df_prods_clean=df_prods[df_prods['product_name'].isnull()==False]
df_adj_clean = df_adj[df_adj['Natural Gas Use (kBtu)'].isnull()==False]

In [32]:
df_adj_clean.isnull().sum()

Property Name                                                    0
Borough                                                         83
Primary Property Type - Self Selected                            0
Largest Property Use Type                                        0
Largest Property Use Type - Gross Floor Area (ft²)               0
Year Built                                                       0
Occupancy                                                        0
Metered Areas (Energy)                                        1604
Source EUI (kBtu/ft²)                                           13
Weather Normalized Source EUI (kBtu/ft²)                      3941
Site EUI (kBtu/ft²)                                             13
Weather Normalized Site EUI (kBtu/ft²)                        3941
Weather Normalized Site Electricity Intensity (kWh/ft²)        676
Weather Normalized Site Natural Gas Intensity (therms/ft²)     933
Natural Gas Use (kBtu)                                           0
Electricity Use - Grid Purchase (kBtu)                         391
Weather Normalized Site Electricity (kWh)                     1234
Total GHG Emissions (Metric Tons CO2e)                          26
Direct GHG Emissions (Metric Tons CO2e)                         22
Indirect GHG Emissions (Metric Tons CO2e)                       13
DOF Benchmarking Submission Status                              27
dtype: int64

In [33]:
#how many missing values are there in a given column: df['variable'].value_counts(dropna = False)
df_adj_clean['Weather Normalized Site Electricity (kWh)'].value_counts(dropna=False)

NaN          1234
0.0           103
1187200.0      23
28356.0        19
25050.0        14
             ...
607453.3        1
339722.4        1
689075.7        1
913651.6        1
1480359.6       1
Name: Weather Normalized Site Electricity (kWh), Length: 38839, dtype: int64

#df_adj_wo = df_adj_wo.replace(['Not available'], ''), inplace=True
df_adj_wo['Indirect GHG Emissions (Metric Tons CO2e)'] = df_adj_wo['Indirect GHG Emissions (Metric Tons CO2e)'].replace(['Not available', '0.0'], '0')

#check:
df_adj_wo['Indirect GHG Emissions (Metric Tons CO2e)'].value_counts(dropna=False)

In [34]:
#removing missing data
df_adj_clean=df_adj_clean.dropna()

In [35]:
#Searching for duplicates 
df_dups = df_adj_clean[df_adj_clean.duplicated()]
df_dups

,Property Name,Borough,Primary Property Type - Self Selected,Largest Property Use Type,Largest Property Use Type - Gross Floor Area (ft²),Year Built,Occupancy,Metered Areas (Energy),Source EUI (kBtu/ft²),Weather Normalized Source EUI (kBtu/ft²),...,Weather Normalized Site EUI (kBtu/ft²),Weather Normalized Site Electricity Intensity (kWh/ft²),Weather Normalized Site Natural Gas Intensity (therms/ft²),Natural Gas Use (kBtu),Electricity Use - Grid Purchase (kBtu),Weather Normalized Site Electricity (kWh),Total GHG Emissions (Metric Tons CO2e),Direct GHG Emissions (Metric Tons CO2e),Indirect GHG Emissions (Metric Tons CO2e),DOF Benchmarking Submission Status
14,810 Humboldt St.,Brooklyn,Manufacturing/Industrial Plant,Manufacturing/Industrial Plant,80000.0,1963,100.0,Whole Building,38.3,38.8,...,16.0,3.1,0.0,250272.9,844769.9,247587.9,88.2,13.3,74.9,Not found
15,1155 Manhattan Ave.,Brooklyn,Manufacturing/Industrial Plant,Manufacturing/Industrial Plant,360000.0,1868,100.0,Whole Building,31.0,30.9,...,10.2,2.8,0.0,0.0,3481604.7,1020399.8,309.6,0.0,309.6,Not found
60,Cross Bay Co-op Corp,Queens,Multifamily Housing,Multifamily Housing,120700.0,1959,100.0,Whole Building,168.7,173.7,...,120.8,6.6,1.0,11189751.2,2741415.8,793803.0,837.4,594.3,243.1,Not found
118,ESRT - One Grand Central Place,Manhattan,Office,Office,1111437.0,1928,100.0,Whole Building,146.9,151.0,...,76.1,9.0,0.0,2160197.0,36343152.6,10479019.5,6306.0,114.7,6191.2,Not found
124,LEXINGTON PARC CONDOMINIUM,Manhattan,Multifamily Housing,Multifamily Housing,75000.0,1989,100.0,Whole Building,79.9,79.9,...,60.2,2.6,0.0,56000.0,668752.0,196000.0,347.9,288.6,59.3,Not found
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34106,1058 Southern Boulevard,Bronx,Multifamily Housing,Multifamily Housing,63618,1910,100.0,Whole Building,228.8,231.2,...,148.9,13.1,0.2,1197026.6,2790666.6,834277.1,708.9,472.5,236.3,Not found
34107,"2927 Valentine Ave,",Bronx,Multifamily Housing,Multifamily Housing,59320,1940,100.0,Whole Building,98.8,98.4,...,75.7,3.6,0.1,367275.8,727594.0,210903.3,337.6,276.0,61.6,Not found
34241,3560 Olinville Avenue,Bronx,Multifamily Housing,Multifamily Housing,79098,1931,100.0,Whole Building,141,141.3,...,106.7,5.4,0.1,894403.1,1466352.9,428376.8,626.8,502.6,124.2,Not found
34345,Delta Management- 161 East 90 Street,Manhattan,Multifamily Housing,Multifamily Housing,38117,1926,100.0,Whole Building,215.6,228.3,...,178.1,6.9,1.5,5429800.0,899172.8,263532.4,364.6,288.4,76.2,Not found
34349,Coney Island Self Storage,Brooklyn,Self-Storage Facility,Self-Storage Facility,69050,2008,80.0,Whole Building,30.4,32.2,...,20.5,1.8,0.1,878000.9,420234.3,123345.8,82.2,46.6,35.6,Not found

In [36]:
#dropping duplicate columns
df_adj_clean_no_dups = df_adj_clean.drop_duplicates()
df_adj_clean_no_dups.shape

(37722, 21)

In [37]:
#save the clean data
df_adj_clean_no_dups.to_csv('C:/Users/chloe/Documents/05.2023 project/02 Data/Prepared data/NYC_Energy_Water_Clean.csv')

####Data consistency checks

#function for checking whether a datarame contains any mixed-type columns:
for col in df_adj_clean_no_dups.columns.tolist():
  weird = (df_adj_clean_no_dups[[col]].applymap(type) != df_adj_clean_no_dups[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_adj_clean_no_dups)[weird]) > 0:
    print (col)

A lot of missing data is affecting the readaility of the data: almost all columns have 'not available'strings, turning them into 'object' rather than numeric columns

In [38]:
#attempt at fix:
df_adj_clean_no_dups['Indirect GHG Emissions (Metric Tons CO2e)'].astype(str).astype(int)

ValueError: invalid literal for int() with base 10: '656.1'

#to convert a column's data type, use the following code: 
df_adj_cleanIndirect GHG Emissions (Metric Tons CO2e)'] = df_adj_clean['Indirect GHG Emissions (Metric Tons CO2e)'].astype('float')df_adj_clean_no_dups['

df_adj_clean_no_dups.['Indirect GHG Emissions (Metric Tons CO2e)'] = df_adj_clean_no_dups['Indirect GHG Emissions (Metric Tons CO2e)'].factorize()[0]

In [ ]:
#Finding median for ' Weather Normalized Site Natural Gas Intensity (therms/ft²)'
df_adj.median('Weather Normalized Site Natural Gas Intensity (therms/ft²')

In [ ]:
#calculating medians to replace nan values:
df_adj.median('numeric_only=All')

In [ ]:
df_adj_clean.shape

In [ ]:
df_adj_clean.shape

In [ ]:
df_adj_clean.median()

In [ ]:
##IF NEEDED: df_ords_clean = df_ords['days_since_prior_order'].fillna(7.0, inplace=True)
#REPEAT AS NEEDED

In [ ]:
df_adj_clean.head(5))

In [ ]:
##any commentary to be made on the data here